body{
    margin: 0;
}
a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

li{
    list-style: none;
}

.header{
    display: flex;
    justify-content: space-around;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    margin-top: 10px;
}

.hero-container {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    margin-left: 340px;
}

.secondary-hero{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-paragraph{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.background-upper, .footer{
    background-color: #1f2937;
}

.button-sign{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border-style: none;
    font-size: 20px;
    padding: 8px 40px;
}

.navbar{
    display: flex;
    gap: 20px;
}

.hero-image{
    background: grey;
    height: 250px;
    width: 500px;
}

.header-text{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;"
}

.sq-one , .sq-two , .sq-three, .sq-four {
    border-color: #3882f6;
    border-style: solid;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin-right: 40px;
}
.buttons-box{
    display: flex;
    justify-content: center;
}

.random-text{
    display: flex;
    justify-content: center;
}

.random{
    height: 156px;
    width: 156px;
    border-radius: 10px;
    margin-right: 40px;
}

.quote-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 400px;
}

.quote-text{
    width: 600px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author{
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 20px;
}

.call-box{
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    height: 150px;
    width: 900px;
}

.button-sign-call{

    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border-style:solid;
    border-color: white;
    font-size: 15px;
    padding: 8px 40px;
}

.call-text{
    margin-bottom: -10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.sign-text{
    margin-bottom: 40px;
    color: white;
}

.box{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}





